<!DOCTYPE html>
<!-- saved from url=(0082)http://localhost:33333/Preview/sportodysite-00023/booking-(create-%2D-extras).html -->
<html class="js html wf-lato-n4-active wf-lato-n7-active wf-lato-n9-active wf-active" lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script type="text/javascript">
    if (typeof Muse == "undefined") window.Muse = {};
    window.Muse.assets = {
      "required": ["jquery-1.8.3.min.js", "museutils.js", "jquery.watch.js", "create-listing-extras.css"],
      "outOfDate": []
    };
  </script>


  <meta name="generator" content="2015.1.1.343">
  <title>BOOKING (Create - Extras)</title>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
  <link rel="stylesheet" href="/styles/create-listing-calendar.css">
  <link rel="stylesheet" href="/styles/create-listing-description.css">
  <link rel="stylesheet" href="/styles/create-listing-extras.css">
  <link rel="stylesheet" href="/styles/font.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/master_amaster-nomenu.css">
  <link rel="stylesheet" href="/styles/master_footer.css">
  <link rel="stylesheet" href="/styles/site_global.css">
  <!--STYLES END-->
</head>

<body class="initialized" data-whatinput="mouse">

  <div class="clearfix" id="page">
    <!-- column -->
    <div class="position_content" id="page_position_content">
      <div class="clearfix colelem" id="pu4189">
        <!-- group -->
        <div class="browser_width" id="u4189-bw">
          <div class="clip_frame" id="u4189">
            <!-- svg -->
            <img class="svg" id="u4190" src="images/pasted-svg-1027.svg" width="100%" height="96" alt="" data-mu-svgfallback="images/pasted%20svg%201027_poster_.png">
          </div>
        </div>
        <div class="clip_frame" id="u4187">
          <!-- svg -->
          <img class="svg" id="u4188" src="images/pasted-svg-166377x39.svg" width="167" height="40" alt="" data-mu-svgfallback="images/pasted%20svg%20166377x39_poster_.png">
        </div>
        <div class="clip_frame" id="u4184">
          <!-- svg -->
          <img class="svg" id="u4185" src="images/pasted-svg-515.svg" width="516" height="28" alt="" data-mu-svgfallback="images/pasted%20svg%20515_poster_.png">
        </div>
        <div class="clip_frame" id="u4182">
          <!-- svg -->
          <img class="svg" id="u4183" src="images/pasted-svg-104532x16.svg" width="105" height="16" alt="" data-mu-svgfallback="images/pasted%20svg%20104532x16_poster_.png">
        </div>
        <div id="u4191">
          <!-- simple frame -->
        </div>
        <div class="browser_width" id="u2568-bw">
          <div class="clip_frame" id="u2568">
            <!-- svg -->
            <img class="svg" id="u2569" src="images/pasted-svg-1027.svg" width="100%" height="96" alt="" data-mu-svgfallback="images/pasted%20svg%201027_poster_.png">
          </div>
        </div>
        <div class="clip_frame" id="u2546">
          <!-- svg -->
          <img class="svg" id="u2547" src="images/pasted-svg-166377x39.svg" width="167" height="40" alt="" data-mu-svgfallback="images/pasted%20svg%20166377x39_poster_.png">
        </div>
        <div class="clip_frame" id="u2551">
          <!-- svg -->
          <img class="svg" id="u2552" src="images/pasted-svg-515.svg" width="516" height="28" alt="" data-mu-svgfallback="images/pasted%20svg%20515_poster_.png">
        </div>
        <div class="clip_frame" id="u2539">
          <!-- svg -->
          <img class="svg" id="u2540" src="images/pasted-svg-104532x16.svg" width="105" height="16" alt="" data-mu-svgfallback="images/pasted%20svg%20104532x16_poster_.png">
        </div>
      </div>
      <div class="browser_width colelem" id="u4186-bw" style="height: 34px;">
        <div id="u4186">
          <!-- simple frame -->
        </div>
      </div>
      <div class="Heading---Dark clearfix colelem" id="u2529-4">
        <!-- content -->
        <h1>Create Your Listing</h1>
      </div>
      <div class="Heading-3---Accent clearfix colelem" id="u2544-4">
        <!-- content -->
        <p>We help you with listings so you can focus on what matters</p>
      </div>
      <div class="clearfix colelem" id="pu2536-4">
        <!-- group -->
        <div class="Heading-3---Accent clearfix grpelem" id="u2536-4">
          <!-- content -->
          <p>CALENDAR</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2535-4">
          <!-- content -->
          <p>DESCRIPTION</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2542-4">
          <!-- content -->
          <p>EXTRAS</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2564-4">
          <!-- content -->
          <p>PREVIEW</p>
        </div>
      </div>
      <div class="clearfix colelem" id="pu2520">
        <!-- group -->
        <div class="grpelem" id="u2520">
          <!-- simple frame -->
        </div>
        <div class="clip_frame grpelem" id="u2531">
          <!-- image -->
          <img class="block" id="u2531_img" src="images/untitled-1.png" alt="" width="57" height="56">
        </div>
        <div class="clearfix grpelem" id="u2525-4">
          <!-- content -->
          <p>1</p>
        </div>
        <div class="clip_frame grpelem" id="u2521">
          <!-- image -->
          <img class="block" id="u2521_img" src="images/untitled-1.png" alt="" width="57" height="57">
        </div>
        <div class="grpelem" id="u2530">
          <!-- simple frame -->
        </div>
        <div class="grpelem" id="u2528">
          <!-- simple frame -->
        </div>
        <div class="clip_frame grpelem" id="u2526">
          <!-- image -->
          <img class="block" id="u2526_img" src="images/untitled-1.png" alt="" width="57" height="57">
        </div>
        <div class="clip_frame grpelem" id="u2523">
          <!-- image -->
          <img class="block" id="u2523_img" src="images/untitled-1-grey.png" alt="" width="57" height="57">
        </div>
        <div class="clearfix grpelem" id="u2533-4">
          <!-- content -->
          <p>2</p>
        </div>
        <div class="clearfix grpelem" id="u2518-4">
          <!-- content -->
          <p>3</p>
        </div>
        <div class="clearfix grpelem" id="u2519-4">
          <!-- content -->
          <p>4</p>
        </div>
      </div>
      <div class="Heading---Dark clearfix colelem" id="u2541-4">
        <!-- content -->
        <h1>Add information need from the person when booking</h1>
      </div>
      <div class="Heading-3---Accent clearfix colelem" id="u2562-4">
        <!-- content -->
        <p>Here is where you can ask for information such as height, weight, shoe size.</p>
      </div>
      <div class="rounded-corners clearfix colelem" id="u2553">
        <!-- group -->
        <div class="clearfix grpelem" id="pu2675-4">
          <!-- column -->
          <div class="Heading-3---Accent clearfix colelem" id="u2675-4">
            <!-- content -->
            <p>Type</p>
          </div>
          <div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2669-4">
            <!-- content -->
            <p id="u2669-2">Type</p>
          </div>
        </div>
        <div class="clearfix grpelem" id="pu2678-4">
          <!-- column -->
          <div class="Heading-3---Accent clearfix colelem" id="u2678-4">
            <!-- content -->
            <p>Field name</p>
          </div>
          <div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2666-4">
            <!-- content -->
            <p id="u2666-2">Field</p>
          </div>
        </div>
        <div class="clearfix grpelem" id="pu2681-4">
          <!-- column -->
          <div class="Heading-3---Accent clearfix colelem" id="u2681-4">
            <!-- content -->
            <p>Brief description</p>
          </div>
          <div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2672-4">
            <!-- content -->
            <p id="u2672-2">Description</p>
          </div>
        </div>
        <div class="clearfix grpelem" id="pu2684-4">
          <!-- column -->
          <div class="Heading-3---Accent clearfix colelem" id="u2684-4">
            <!-- content -->
            <p>Required</p>
          </div>
          <div class="rounded-corners colelem" id="u2693">
            <!-- simple frame -->
          </div>
        </div>
        <div class="rounded-corners Heading-3---Dark clearfix grpelem" id="u2696-4">
          <!-- content -->
          <h3 id="u2696-2">Add</h3>
        </div>
      </div>
      <div class="clearfix colelem" id="pu2554-4">
        <!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u2554-4" href="create_listing_description">
          <!-- content -->
          <h2 class="Heading-2---Dark" id="u2554-2">Back</h2>
        </a>
        <a class="nonblock nontext Button rounded-corners clearfix grpelem" id="buttonu4307" href="create_listing_preview">
          <!-- container box -->
          <div class="Heading-2---Dark clearfix grpelem" id="u4308-4">
            <!-- content -->
            <h2>Next</h2></div>
        </a>
      </div>
      <div class="verticalspacer" style="height: 230px;"></div>
      <div class="browser_width colelem" id="u587-bw" style="height: 249px;">
        <div class="clip_frame" id="u587">
          <!-- svg -->
          <img class="svg" id="u328" src="images/pasted-svg-1053105x249.svg" width="100%" height="249" alt="" data-mu-svgfallback="images/pasted%20svg%201053105x249_poster_.png">
        </div>
      </div>
    </div>
  </div>
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.1.3.js"></script>
  <script src="/js/dependencies/QlAmQzAhkctPrhd7gYr1nddnQLimxDJwvHVjnuoY8cMfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMg7V5al39.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/b-eNNT96YylTRYtYqWxdfz4CVdf6_0HCUctMgnEi47bfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMgcwftl39.js"></script>
  <script src="/js/dependencies/jquery-1.8.3.min.js"></script>
  <script src="/js/dependencies/jquery.watch.js"></script>
  <script src="/js/dependencies/museutils.js"></script>
  <script src="/js/dependencies/rvhlmTRlsohQQsIWjgri1YWNMLxdGJUoZrDN71IvXVCfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMg0OEtl39.js"></script>
  <script src="/js/dependencies/whatinput.js"></script>
  <script src="/js/public/createlisting/ListingModule.js"></script>
  <script src="/js/public/createlisting/ListingController.js"></script>
  <!--SCRIPTS END-->


</body>

</html>
