<!DOCTYPE html>
<!-- saved from url=(0083)http://localhost:33333/Preview/sportodysite-00023/booking-(create-%2D-preview).html -->
<html class="js html wf-lato-n4-active wf-lato-n7-active wf-lato-n9-active wf-active" lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script type="text/javascript">
    if (typeof Muse == "undefined") window.Muse = {};
    window.Muse.assets = {
      "required": ["jquery-1.8.3.min.js", "museutils.js", "jquery.watch.js", "create-listing-preview.css"],
      "outOfDate": []
    };
  </script>

  <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      listing: <%- JSON.stringify(listing) %>
    };
  </script>


  <meta name="generator" content="2015.1.1.343">
  <title>BOOKING (Create - Preview)</title>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/bookings.css">
  <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
  <link rel="stylesheet" href="/styles/create-listing-calendar.css">
  <link rel="stylesheet" href="/styles/create-listing-description.css">
  <link rel="stylesheet" href="/styles/create-listing-extras.css">
  <link rel="stylesheet" href="/styles/create-listing-preview.css">
  <link rel="stylesheet" href="/styles/font.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/master_a-master.css">
  <link rel="stylesheet" href="/styles/master_amaster-nomenu.css">
  <link rel="stylesheet" href="/styles/master_footer.css">
  <link rel="stylesheet" href="/styles/site_global.css">
  <!--STYLES END-->
</head>

<body class="initialized" data-whatinput="mouse" ng-app="ListingModule" ng-controller="PreviewController">

  <div class="clearfix" id="page">
    <!-- column -->
    <div class="position_content" id="page_position_content">
      <div class="clearfix colelem" id="pu4189">
        <!-- group -->
        <div class="browser_width" id="u4189-bw">
          <div class="clip_frame" id="u4189">
            <!-- svg -->
            <img class="svg" id="u4190" src="images/pasted-svg-1027.svg" width="100%" height="96" alt="" data-mu-svgfallback="images/pasted%20svg%201027_poster_.png">
          </div>
        </div>
        <div class="clip_frame" id="u4187">
          <!-- svg -->
          <img class="svg" id="u4188" src="images/pasted-svg-166377x39.svg" width="167" height="40" alt="" data-mu-svgfallback="images/pasted%20svg%20166377x39_poster_.png">
        </div>
        <div class="clip_frame" id="u4184">
          <!-- svg -->
          <img class="svg" id="u4185" src="images/pasted-svg-515.svg" width="516" height="28" alt="" data-mu-svgfallback="images/pasted%20svg%20515_poster_.png">
        </div>
        <div class="clip_frame" id="u4182">
          <!-- svg -->
          <img class="svg" id="u4183" src="images/pasted-svg-104532x16.svg" width="105" height="16" alt="" data-mu-svgfallback="images/pasted%20svg%20104532x16_poster_.png">
        </div>
        <div id="u4191">
          <!-- simple frame -->
        </div>
        <div class="browser_width" id="u2794-bw">
          <div class="clip_frame" id="u2794">
            <!-- svg -->
            <img class="svg" id="u2795" src="images/pasted-svg-1027.svg" width="100%" height="96" alt="" data-mu-svgfallback="images/pasted%20svg%201027_poster_.png">
          </div>
        </div>
        <div class="clip_frame" id="u2789">
          <!-- svg -->
          <img class="svg" id="u2790" src="images/pasted-svg-166377x39.svg" width="167" height="40" alt="" data-mu-svgfallback="images/pasted%20svg%20166377x39_poster_.png">
        </div>
        <div class="clip_frame" id="u2801">
          <!-- svg -->
          <img class="svg" id="u2802" src="images/pasted-svg-515.svg" width="516" height="28" alt="" data-mu-svgfallback="images/pasted%20svg%20515_poster_.png">
        </div>
        <div class="clip_frame" id="u2776">
          <!-- svg -->
          <img class="svg" id="u2777" src="images/pasted-svg-104532x16.svg" width="105" height="16" alt="" data-mu-svgfallback="images/pasted%20svg%20104532x16_poster_.png">
        </div>
      </div>
      <div class="browser_width colelem" id="u4186-bw" style="height: 34px;">
        <div id="u4186">
          <!-- simple frame -->
        </div>
      </div>
      <div class="Heading---Dark clearfix colelem" id="u2819-4">
        <!-- content -->
        <h1>Create Your Listing</h1>
      </div>
      <div class="Heading-3---Accent clearfix colelem" id="u2778-4">
        <!-- content -->
        <p>We help you with listings so you can focus on what matters</p>
      </div>
      <div class="clearfix colelem" id="pu2782-4">
        <!-- group -->
        <div class="Heading-3---Accent clearfix grpelem" id="u2782-4">
          <!-- content -->
          <p>CALENDAR</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2791-4">
          <!-- content -->
          <p>DESCRIPTION</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2800-4">
          <!-- content -->
          <p>EXTRAS</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2784-4">
          <!-- content -->
          <p>PREVIEW</p>
        </div>
      </div>
      <div class="clearfix colelem" id="pu2805">
        <!-- group -->
        <div class="grpelem" id="u2805">
          <!-- simple frame -->
        </div>

        <button class="clip_frame grpelem" id="u2813" ng-click="clickedCalendarBack()">
          <!-- image -->
          <img class="block" id="u2813_img" src="images/untitled-1.png" alt="" width="57" height="56">
        </button>
        <button class="clearfix grpelem" id="u2804-4"  ng-click="clickedCalendarBack()">
          <!-- content -->
          <p>1</p>
        </button>

        <div class="clip_frame grpelem" id="u2808">
          <!-- image -->
          <img class="block" id="u2808_img" src="images/untitled-1.png" alt="" width="57" height="57">
        </div>
        <div class="grpelem" id="u2807">
          <!-- simple frame -->
        </div>
        <div class="grpelem" id="u2810">
          <!-- simple frame -->
        </div>
        <div class="clip_frame grpelem" id="u2815">
          <!-- image -->
          <img class="block" id="u2815_img" src="images/untitled-1.png" alt="" width="57" height="57">
        </div>

        <button class="clip_frame grpelem" id="u2811" ng-click="clickedDescriptionBack()">
          <!-- image -->
          <img class="block" id="u2811_img" src="images/untitled-1.png" alt="" width="57" height="57">
        </button>
        <button class="clearfix grpelem" id="u2818-4" ng-click="clickedDescriptionBack()">
          <!-- content -->
          <p>2</p>
        </button>


        <button class="clearfix grpelem" id="u2806-4" ng-click="clickedExtrasBack()">
          <!-- content -->
          <p>3</p>
        </button>
        <div class="clearfix grpelem" id="u2817-4">
          <!-- content -->
          <p>4</p>
        </div>
      </div>
      <div class="Heading---Dark clearfix colelem" id="u2799-4">
        <!-- content -->
        <h1>Preview your listing before publishing</h1>
      </div>
      <div class="clearfix colelem" id="pu2860-4">
        <!-- group -->
        <div class="Heading-3---Accent clearfix grpelem" id="u2860-4">
          <!-- content -->
          <p>People can book:</p>
        </div>
        <div class="Heading-3---Dark clearfix grpelem" id="u2866-4">
          <!-- content -->
          <h3>Calendar</h3>
        </div>
      </div>
      <div class="clearfix colelem" id="pu2837">
        <!-- group -->
        <div class="rounded-corners clearfix grpelem" id="u2837">
          <!-- column -->
          <div class="clearfix colelem" id="pu2838">
            <!-- group -->
            <div class="clip_frame grpelem" id="u2838">
              <!-- image -->
              <img class="block" id="u2838_img" src="images/time.png" alt="" width="102" height="102">
            </div>
            <div class="clip_frame grpelem" id="u2842">
              <!-- image -->
              <img class="block" id="u2842_img" src="images/untitled-1-green-check.png" alt="" width="32" height="32">
            </div>
          </div>
          <div class="Heading-3---Dark clearfix colelem" id="u2840-4">
            <!-- content -->
            <h3>During hours of operation</h3>
          </div>
          <div class="Paragraph---Light-accent clearfix colelem" id="u2841-4">
            <!-- content -->
            <p>Whenever open for business</p>
          </div>
        </div>
        <div class="rounded-corners grpelem" id="u2863">
          <!-- simple frame -->
        </div>
      </div>
      <div class="Heading-3---Accent clearfix colelem" id="u2869-4">
        <!-- content -->
        <p>Description:</p>
      </div>
      <div class="Heading-2---Dark clearfix colelem" id="u2872-4">
        <!-- content -->
        <h2><span ng-bind="preview.title"></span></h2>
      </div>
      <div class="Heading-3---Dark clearfix colelem" id="u2875-4">
        <!-- content -->
        <h3><span ng-bind="preview.summary"></span></h3>
      </div>
      <div class="clearfix colelem" id="pu2884">
        <!-- group -->
        <div class="rounded-corners clip_frame grpelem" id="u2884">
          <!-- image -->
          <div class="clip_frame"><img class="block" id="u2884_img" src="images/sky-1-crop-u2884.jpg" alt="" width="238" height="188"></div>
        </div>
        <div class="rounded-corners clip_frame grpelem" id="u2894">
          <!-- image -->
          <div class="clip_frame"><img class="block" id="u2894_img" src="images/sky02.jpg" alt="" width="282" height="188"></div>
        </div>
      </div>
      <div class="Heading-3---Accent clearfix colelem" id="u2904-4">
        <!-- content -->
        <p>Information needed from the person:</p>
      </div>

      <div class="rounded-corners clearfix colelem" id="u2553">

        <!--FIELDS TITLES -->

        <div style="padding-bottom: 24px;">
          <div class="clearfix grpelem" id="pu2675-4">
            <!-- column -->
            <div class="Heading-3---Accent clearfix colelem" id="u2675-4">
              <!-- content -->
              <p>Type</p>
            </div>
          </div>
          <div class="clearfix grpelem" id="pu2678-4">
            <!-- column -->
            <div class="Heading-3---Accent clearfix colelem" id="u2678-4">
              <!-- content -->
              <p>Field name</p>
            </div>
          </div>
          <div class="clearfix grpelem" id="pu2681-4">
            <!-- column -->
            <div class="Heading-3---Accent clearfix colelem" id="u2681-4">
              <!-- content -->
              <p>Brief description</p>
            </div>
          </div>
          <div class="clearfix grpelem" id="pu2684-4">
            <!-- column -->
            <div class="Heading-3---Accent clearfix colelem" id="u2684-4">
              <!-- content -->
              <p>Required</p>
            </div>
          </div>
        </div>

        <!--INPUT-->

        <fieldset style="margin-top: 12px;" data-ng-repeat="extra in preview.extras track by $index">
          <div style="height: 100%; width: 100%;" class="clearfix grpelem" id="type">
            <select style="min-height: 25px; text-align:center;" ng-model="extra.option">
              <option value="" disabled selected>Select type</option>
              <option>Date</option>
              <option>Number</option>
            </select>
          </div>

          <div class="clearfix grpelem" id="field-name-outer-div">
            <div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="field-name-inner-div">
              <input style="height: 100%; width: 100%;" id="field-name-input" type="text" ng-model="extra.field" name="" placeholder="Field">
            </div>
          </div>

          <div class="clearfix grpelem" id="description-outer-div">
            <div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="description-inner-div">
              <input style="height: 100%; width: 100%;" id="description-input" type="text" ng-model="extra.description" name="" placeholder="Description">
            </div>
          </div>

          <div class="clearfix grpelem" id="required-outer-div">
            <input id="required-checkbox" class="rounded-corners colelem" style="transform: scale(1.6); -ms-transform: scale(1.6); -webkit-transform: scale(1.6);" type="checkbox" ng-model="extra.required">
          </div>

          <button id="add-field-button" ng-show="!$last" class="rounded-corners Heading-3---Dark clearfix grpelem" ng-click="removeExtra(extra)">Remove</button>
          <button id="add-field-button" ng-show="$last" class="rounded-corners Heading-3---Dark clearfix grpelem" ng-click="addExtra()">Add</button>

        </fieldset>

      </div>

      <!--<div class="rounded-corners clearfix colelem" id="u2787">-->
        <!--&lt;!&ndash; group &ndash;&gt;-->
        <!--<div class="clearfix grpelem" id="pu2788-4">-->
          <!--&lt;!&ndash; column &ndash;&gt;-->
          <!--<div class="Heading-3---Accent clearfix colelem" id="u2788-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p>Type</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2793-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2793-2">Number</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2908-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2908-2">Number</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2923-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2923-2">Type</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix grpelem" id="pu2797-4">-->
          <!--&lt;!&ndash; column &ndash;&gt;-->
          <!--<div class="Heading-3---Accent clearfix colelem" id="u2797-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p>Field name</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2798-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2798-2">Height</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2907-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2907-2">Age</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2922-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2922-2">Field</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix grpelem" id="pu2781-4">-->
          <!--&lt;!&ndash; column &ndash;&gt;-->
          <!--<div class="Heading-3---Accent clearfix colelem" id="u2781-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p>Brief description</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2796-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2796-2">Needed for the suit</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2909-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2909-2">Legal</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Paragraph---Light-accent clearfix colelem" id="u2924-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2924-2">Description</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix grpelem" id="pu2779-4">-->
          <!--&lt;!&ndash; column &ndash;&gt;-->
          <!--<div class="Heading-3---Accent clearfix colelem" id="u2779-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p>Required</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners colelem" id="u2775">-->
            <!--&lt;!&ndash; simple frame &ndash;&gt;-->
          <!--</div>-->
          <!--<div class="rounded-corners colelem" id="u2910">-->
            <!--&lt;!&ndash; simple frame &ndash;&gt;-->
          <!--</div>-->
          <!--<div class="rounded-corners colelem" id="u2925">-->
            <!--&lt;!&ndash; simple frame &ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix grpelem" id="pu2940-4">-->
          <!--&lt;!&ndash; column &ndash;&gt;-->
          <!--<div class="rounded-corners Heading-3---Accent clearfix colelem" id="u2940-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2940-2">Remove</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Heading-3---Accent clearfix colelem" id="u2937-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2937-2">Remove</p>-->
          <!--</div>-->
          <!--<div class="rounded-corners Heading-3---Accent clearfix colelem" id="u2926-4">-->
            <!--&lt;!&ndash; content &ndash;&gt;-->
            <!--<p id="u2926-2">Add</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="clearfix colelem" id="pu2792-4">
        <!-- group -->
        <button class="nonblock nontext clearfix grpelem" id="u2792-4" style="text-decoration:none;" ng-click="clickedExtrasBack()">
          <!-- content -->
          <h2 class="Heading-2---Dark" id="u2792-2">Back</h2></button>
        <a class="nonblock nontext Button rounded-corners clearfix grpelem" id="buttonu4316" href="listings">
          <!-- container box -->
          <div class="Heading-2---Dark clearfix grpelem" id="u4317-4">
            <!-- content -->
            <h2>Publish</h2></div>
        </a>
      </div>
      <div class="verticalspacer"></div>
      <div class="browser_width colelem" id="u587-bw" style="height: 249px;">
        <div class="clip_frame" id="u587">
          <!-- svg -->
          <img class="svg" id="u328" src="images/pasted-svg-1053105x249.svg" width="100%" height="249" alt="" data-mu-svgfallback="images/pasted%20svg%201053105x249_poster_.png">
        </div>
      </div>
    </div>
  </div>

  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.1.3.js"></script>
  <script src="/js/dependencies/GvGXUN-jvMJlza-zLU7p-IKmtXuWmNYITmzPo9zdOYtfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMgulKtl39.js"></script>
  <script src="/js/dependencies/QlAmQzAhkctPrhd7gYr1nddnQLimxDJwvHVjnuoY8cMfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMg7V5al39.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/b-eNNT96YylTRYtYqWxdfz4CVdf6_0HCUctMgnEi47bfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMgcwftl39.js"></script>
  <script src="/js/dependencies/jquery-1.8.3.min.js"></script>
  <script src="/js/dependencies/jquery.watch.js"></script>
  <script src="/js/dependencies/museutils.js"></script>
  <script src="/js/dependencies/rvhlmTRlsohQQsIWjgri1YWNMLxdGJUoZrDN71IvXVCfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMg0OEtl39.js"></script>
  <script src="/js/dependencies/whatinput.js"></script>
  <script src="/js/public/createlisting/ListingModule.js"></script>
  <script src="/js/public/createlisting/ListingController.js"></script>
  <script src="/js/public/listing_preview/PreviewController.js"></script>


</body>

</html>
