<!DOCTYPE html>
<!-- saved from url=(0084)http://localhost:33333/Preview/sportodysite-00023/booking-(create-%2D-calendar).html -->
<html class="js html wf-lato-n9-active wf-lato-n7-active wf-lato-n4-active wf-active" lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script type="text/javascript">
    if (typeof Muse == "undefined") window.Muse = {};
    window.Muse.assets = {
      "required": ["jquery-1.8.3.min.js", "museutils.js", "jquery.watch.js", "create-listing-calendar.css"],
      "outOfDate": []
    };
  </script>


  <meta name="generator" content="2015.1.1.343">
  <title>BOOKING (Create - Calendar)</title>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/bookings.css">
  <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
  <link rel="stylesheet" href="/styles/create-listing-calendar.css">
  <link rel="stylesheet" href="/styles/create-listing-description.css">
  <link rel="stylesheet" href="/styles/create-listing-extras.css">
  <link rel="stylesheet" href="/styles/create-listing-preview.css">
  <link rel="stylesheet" href="/styles/font.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/master_a-master.css">
  <link rel="stylesheet" href="/styles/master_amaster-nomenu.css">
  <link rel="stylesheet" href="/styles/master_footer.css">
  <link rel="stylesheet" href="/styles/site_global.css">
  <!--STYLES END-->
</head>

<body class="initialized" ng-app="ListingModule" ng-controller="ListingController" ng-cloak>
<!-- <body class="initialized" data-whatinput="mouse"> -->

  <div class="clearfix" id="page">
    <!-- column -->
    <div class="position_content" id="page_position_content">
      <div class="clearfix colelem" id="pu4189">
        <!-- group -->
        <div class="browser_width" id="u4189-bw">
          <div class="clip_frame" id="u4189">
            <!-- svg -->
            <img class="svg" id="u4190" src="images/pasted-svg-1027.svg" width="100%" height="96" alt="" data-mu-svgfallback="images/pasted%20svg%201027_poster_.png">
          </div>
        </div>
        <div class="clip_frame" id="u4187">
          <!-- svg -->
          <img class="svg" id="u4188" src="images/pasted-svg-166377x39.svg" width="167" height="40" alt="" data-mu-svgfallback="images/pasted%20svg%20166377x39_poster_.png">
        </div>
        <div class="clip_frame" id="u4184">
          <!-- svg -->
          <img class="svg" id="u4185" src="images/pasted-svg-515.svg" width="516" height="28" alt="" data-mu-svgfallback="images/pasted%20svg%20515_poster_.png">
        </div>
        <div class="clip_frame" id="u4182">
          <!-- svg -->
          <img class="svg" id="u4183" src="images/pasted-svg-104532x16.svg" width="105" height="16" alt="" data-mu-svgfallback="images/pasted%20svg%20104532x16_poster_.png">
        </div>
        <div id="u4191">
          <!-- simple frame -->
        </div>
        <div class="browser_width" id="u1901-bw">
          <div class="clip_frame" id="u1901">
            <!-- svg -->
            <img class="svg" id="u1902" src="images/pasted-svg-1027.svg" width="100%" height="96" alt="" data-mu-svgfallback="images/pasted%20svg%201027_poster_.png">
          </div>
        </div>
        <div class="clip_frame" id="u1903">
          <!-- svg -->
          <img class="svg" id="u1904" src="images/pasted-svg-166377x39.svg" width="167" height="40" alt="" data-mu-svgfallback="images/pasted%20svg%20166377x39_poster_.png">
        </div>
        <div class="clip_frame" id="u1905">
          <!-- svg -->
          <img class="svg" id="u1906" src="images/pasted-svg-515.svg" width="516" height="28" alt="" data-mu-svgfallback="images/pasted%20svg%20515_poster_.png">
        </div>
        <div class="clip_frame" id="u1907">
          <!-- svg -->
          <img class="svg" id="u1908" src="images/pasted-svg-104532x16.svg" width="105" height="16" alt="" data-mu-svgfallback="images/pasted%20svg%20104532x16_poster_.png">
        </div>
      </div>
      <div class="browser_width colelem" id="u4186-bw" style="height: 34px;">
        <div id="u4186">
          <!-- simple frame -->
        </div>
      </div>
      <div class="Heading---Dark clearfix colelem" id="u1940-4">
        <!-- content -->
        <h1>Create Your Listing</h1>
      </div>
      <div class="Heading-3---Accent clearfix colelem" id="u1943-4">
        <!-- content -->
        <p>We help you with listings so you can focus on what matters</p>
      </div>
      <div class="clearfix colelem" id="pu2012-4">
        <!-- group -->
        <div class="Heading-3---Accent clearfix grpelem" id="u2012-4">
          <!-- content -->
          <p>CALENDAR</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2505-4">
          <!-- content -->
          <p>DESCRIPTION</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2506-4">
          <!-- content -->
          <p>EXTRAS</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u2507-4">
          <!-- content -->
          <p>PREVIEW</p>
        </div>
      </div>
      <div class="clearfix colelem" id="pu1949">
        <!-- group -->
        <div class="grpelem" id="u1949">
          <!-- simple frame -->
        </div>
        <div class="clip_frame grpelem" id="u1950">
          <!-- image -->
          <img class="block" id="u1950_img" src="images/untitled-1.png" alt="" width="57" height="56">
        </div>
        <div class="clearfix grpelem" id="u1952-4">
          <!-- content -->
          <p>1</p>
        </div>
        <div class="clip_frame grpelem" id="u1955">
          <!-- image -->
          <img class="block" id="u1955_img" src="images/untitled-1-grey.png" alt="" width="57" height="57">
        </div>
        <div class="grpelem" id="u1959">
          <!-- simple frame -->
        </div>
        <div class="grpelem" id="u1961">
          <!-- simple frame -->
        </div>
        <div class="clip_frame grpelem" id="u1992">
          <!-- image -->
          <img class="block" id="u1992_img" src="images/untitled-1-grey.png" alt="" width="57" height="57">
        </div>
        <div class="clip_frame grpelem" id="u1999">
          <!-- image -->
          <img class="block" id="u1999_img" src="images/untitled-1-grey.png" alt="" width="57" height="57">
        </div>
        <div class="clearfix grpelem" id="u2404-4">
          <!-- content -->
          <p>2</p>
        </div>
        <div class="clearfix grpelem" id="u2407-4">
          <!-- content -->
          <p>3</p>
        </div>
        <div class="clearfix grpelem" id="u2410-4">
          <!-- content -->
          <p>4</p>
        </div>
      </div>
      <div class="Heading-2---Dark clearfix colelem" id="u2015-4">
        <!-- content -->
        <h2>When can people book with you?</h2>
      </div>
      <div class="clearfix colelem" id="pu2037">
        <!-- group -->
        <div class="rounded-corners clearfix grpelem" id="u2037">
          <!-- column -->
          <div class="clearfix colelem" id="pu2027">
            <!-- group -->
            <div class="clip_frame grpelem" id="u2027">
              <!-- image -->
              <img class="block" id="u2027_img" src="images/time.png" alt="" width="102" height="102">
            </div>
            <div class="clip_frame grpelem" id="u2110">
              <!-- image -->
              <img class="block" id="u2110_img" src="images/untitled-1-green-check.png" alt="" width="32" height="32">
            </div>
          </div>
          <div class="Heading-3---Dark clearfix colelem" id="u2040-4">
            <!-- content -->
            <h3>During hours of operation</h3>
          </div>
          <div class="Paragraph---Light-accent clearfix colelem" id="u2043-4">
            <!-- content -->
            <p>Whenever open for business</p>
          </div>
        </div>
        <div class="rounded-corners clearfix grpelem" id="u2094">
          <!-- column -->
          <div class="clip_frame colelem" id="u2095">
            <!-- image -->
            <img class="block" id="u2095_img" src="images/time.png" alt="" width="102" height="102">
          </div>
          <div class="Heading-3---Dark clearfix colelem" id="u2097-4">
            <!-- content -->
            <h3>Span of dates</h3>
          </div>
          <div class="Paragraph---Light-accent clearfix colelem" id="u2098-4">
            <!-- content -->
            <p>Specific dates and times</p>
          </div>
        </div>
        <div class="rounded-corners clearfix grpelem" id="u2078">
          <!-- column -->
          <div class="clip_frame colelem" id="u2079">
            <!-- image -->
            <img class="block" id="u2079_img" src="images/time.png" alt="" width="102" height="102">
          </div>
          <div class="Heading-3---Dark clearfix colelem" id="u2081-4">
            <!-- content -->
            <h3>One time</h3>
          </div>
          <div class="Paragraph---Light-accent clearfix colelem" id="u2082-4">
            <!-- content -->
            <p>Limited availability</p>
          </div>
        </div>
      </div>
      <a class="nonblock nontext Button rounded-corners clearfix colelem" id="buttonu4261" href="create_listing_description">
        <!-- container box -->
        <div class="Heading-2---Dark clearfix grpelem" id="u4262-4">
          <!-- content -->
          <h2>Next</h2></div>
      </a>
      <div class="verticalspacer" style="height: 159px;"></div>
      <div class="browser_width colelem" id="u587-bw" style="height: 249px;">
        <div class="clip_frame" id="u587">
          <!-- svg -->
          <img class="svg" id="u328" src="images/pasted-svg-1053105x249.svg" width="100%" height="249" alt="" data-mu-svgfallback="images/pasted%20svg%201053105x249_poster_.png">
        </div>
      </div>
    </div>
  </div>

  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.1.3.js"></script>
  <script src="/js/dependencies/GvGXUN-jvMJlza-zLU7p-IKmtXuWmNYITmzPo9zdOYtfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMgulKtl39.js"></script>
  <script src="/js/dependencies/QlAmQzAhkctPrhd7gYr1nddnQLimxDJwvHVjnuoY8cMfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMg7V5al39.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/b-eNNT96YylTRYtYqWxdfz4CVdf6_0HCUctMgnEi47bfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMgcwftl39.js"></script>
  <script src="/js/dependencies/jquery-1.8.3.min.js"></script>
  <script src="/js/dependencies/jquery.watch.js"></script>
  <script src="/js/dependencies/museutils.js"></script>
  <script src="/js/dependencies/rvhlmTRlsohQQsIWjgri1YWNMLxdGJUoZrDN71IvXVCfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMg0OEtl39.js"></script>
  <script src="/js/dependencies/whatinput.js"></script>
  <script src="/js/public/createlisting/ListingModule.js"></script>
  <script src="/js/public/createlisting/ListingController.js"></script>
  <script src="/js/public/listing_preview/PreviewController.js"></script>
</body>

</html>
