<!DOCTYPE html>
<!-- saved from url=(0088)http://192.168.1.8:33333/Preview/sportodysite-0002/booking-(create-%2D-calendar)-v2.html -->
<html class="js html wf-lato-n9-active wf-lato-n7-active wf-lato-n4-active wf-active" lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.watch.js", "booking-_create---calendar_-v2.css"], "outOfDate":[]};
</script>


  <meta name="generator" content="2015.1.1.343">
  <title>BOOKING (Create - Calendar) V2</title>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/booking-_create---calendar_-v2.css">
  <link rel="stylesheet" href="/styles/bookings-_with-listings_.css">
  <link rel="stylesheet" href="/styles/bookings.css">
  <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
  <link rel="stylesheet" href="/styles/create-listing-calendar.css">
  <link rel="stylesheet" href="/styles/create-listing-description.css">
  <link rel="stylesheet" href="/styles/create-listing-extras.css">
  <link rel="stylesheet" href="/styles/create-listing-preview.css">
  <link rel="stylesheet" href="/styles/font.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/master_a-master.css">
  <link rel="stylesheet" href="/styles/master_amaster-nomenu.css">
  <link rel="stylesheet" href="/styles/master_footer.css">
  <link rel="stylesheet" href="/styles/site_global.css">
  <!--STYLES END-->
   </head>
<body class="initialized" data-whatinput="mouse" ng-app="ListingModule" ng-controller="ListingController">

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu4189"><!-- group -->
     <div class="browser_width" id="u4189-bw">
      <div class="clip_frame" id="u4189"><!-- svg -->
       <img class="svg" id="u4190" src="images/pasted-svg-1027.svg" width="100%" height="96" alt="" data-mu-svgfallback="images/pasted%20svg%201027_poster_.png">
      </div>
     </div>
     <div class="clip_frame" id="u4187"><!-- svg -->
      <img class="svg" id="u4188" src="images/pasted-svg-166377x39.svg" width="167" height="40" alt="" data-mu-svgfallback="images/pasted%20svg%20166377x39_poster_.png">
     </div>
     <div class="clip_frame" id="u4184"><!-- svg -->
      <img class="svg" id="u4185" src="images/pasted-svg-515.svg" width="516" height="28" alt="" data-mu-svgfallback="images/pasted%20svg%20515_poster_.png">
     </div>
     <div class="clip_frame" id="u4182"><!-- svg -->
      <img class="svg" id="u4183" src="images/pasted-svg-104532x16.svg" width="105" height="16" alt="" data-mu-svgfallback="images/pasted%20svg%20104532x16_poster_.png">
     </div>
     <div id="u4191"><!-- simple frame --></div>
     <div class="browser_width" id="u4508-bw">
      <div class="clip_frame" id="u4508"><!-- svg -->
       <img class="svg" id="u4509" src="images/pasted-svg-1027.svg" width="100%" height="96" alt="" data-mu-svgfallback="images/pasted%20svg%201027_poster_.png">
      </div>
     </div>
     <div class="clip_frame" id="u4502"><!-- svg -->
      <img class="svg" id="u4503" src="images/pasted-svg-166377x39.svg" width="167" height="40" alt="" data-mu-svgfallback="images/pasted%20svg%20166377x39_poster_.png">
     </div>
     <div class="clip_frame" id="u4506"><!-- svg -->
      <img class="svg" id="u4507" src="images/pasted-svg-515.svg" width="516" height="28" alt="" data-mu-svgfallback="images/pasted%20svg%20515_poster_.png">
     </div>
     <div class="clip_frame" id="u4504"><!-- svg -->
      <img class="svg" id="u4505" src="images/pasted-svg-104532x16.svg" width="105" height="16" alt="" data-mu-svgfallback="images/pasted%20svg%20104532x16_poster_.png">
     </div>
    </div>
    <div class="browser_width colelem" id="u4186-bw" style="height: 34px;">
     <div id="u4186"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="u4654"><!-- column -->
     <div class="Heading---Dark clearfix colelem" id="u4581-4"><!-- content -->
      <h1>Create Your Listing</h1>
     </div>
     <div class="Heading-3---Accent clearfix colelem" id="u4614-4"><!-- content -->
      <p>We help you with listings so you can focus on what matters</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u4735"><!-- group -->
     <div class="clearfix grpelem" id="u4663"><!-- column -->
      <div class="Heading-3---Accent clearfix colelem" id="u4585-4"><!-- content -->
       <p>PREVIEW</p>
      </div>
      <div class="clearfix colelem" id="pu4603"><!-- group -->
       <div class="clip_frame grpelem" id="u4603"><!-- image -->
        <img class="block" id="u4603_img" src="images/untitled-1-grey.png" alt="" width="57" height="57">
       </div>
       <div class="clearfix grpelem" id="u4600-4"><!-- content -->
        <p>4</p>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u4610"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u4660"><!-- column -->
      <div class="Heading-3---Accent clearfix colelem" id="u4596-4"><!-- content -->
       <p>EXTRAS</p>
      </div>
      <div class="clearfix colelem" id="pu4601"><!-- group -->
       <div class="clip_frame grpelem" id="u4601"><!-- image -->
        <img class="block" id="u4601_img" src="images/untitled-1-grey.png" alt="" width="57" height="57">
       </div>
       <div class="clearfix grpelem" id="u4615-4"><!-- content -->
        <p>3</p>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u4586"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u4657"><!-- column -->
      <div class="Heading-3---Accent clearfix colelem" id="u4609-4"><!-- content -->
       <p>DESCRIPTION</p>
      </div>
      <div class="clearfix colelem" id="pu4618"><!-- group -->
       <div class="clip_frame grpelem" id="u4618"><!-- image -->
        <img class="block" id="u4618_img" src="images/untitled-1-grey.png" alt="" width="57" height="57">
       </div>
       <div class="clearfix grpelem" id="u4582-4"><!-- content -->
        <p>2</p>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u4597"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u4651"><!-- column -->
      <div class="Heading-3---Accent clearfix colelem" id="u4580-4"><!-- content -->
       <p>CALENDAR</p>
      </div>
      <div class="clearfix colelem" id="pu4583"><!-- group -->
       <div class="clip_frame grpelem" id="u4583"><!-- image -->
        <img class="block" id="u4583_img" src="images/untitled-1.png" alt="" width="57" height="56">
       </div>
       <div class="clearfix grpelem" id="u4593-4"><!-- content -->
        <p>1</p>
       </div>
      </div>
     </div>
    </div>
    <div class="Heading-2---Dark clearfix colelem" id="u4595-4"><!-- content -->
     <h2>When can people book this listing?</h2>
    </div>
    <div class="clearfix colelem" id="pu4639"><!-- group -->
     <!--<div class="rounded-corners grpelem" id="u4639">&lt;!&ndash; simple frame &ndash;&gt;</div>-->

      <!--<div class="rounded-corners grpelem" id="u4639">-->
        <input class="rounded-corners grpelem" id="u4639" style="transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1);" type="checkbox" ng-model="calendarForm.duringOperation">
      <!--</div>-->

     <div class="Heading-3---Dark clearfix grpelem" id="u4642-4"><!-- content -->
      <h3>During hours of operation</h3>
     </div>
    </div>
    <div class="clearfix colelem" id="u4714"><!-- group -->
     <div class="rounded-corners clearfix grpelem" id="u4645"><!-- group -->
      <div class="clearfix grpelem" id="pu4726"><!-- column -->

        <!-- TITLE LABELS -->

        <div class="clearfix colelem" id="u4726"><!-- group -->
        <div class="Heading-3---Accent clearfix grpelem" id="u4666-4"><!-- content -->
         <p>Starts</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u4669-4"><!-- content -->
         <p>Ends</p>
        </div>
        <div class="Heading-3---Accent clearfix grpelem" id="u4705-4"><!-- content -->
         <p>Repeat</p>
        </div>
       </div>

        <!-- END TITLE LABELS -->

        <!-- CONTENT / OPTIONS -->

        <div ng-repeat="timeSlot in calendarForm.timeSlots track by $index">

       <div class="clearfix colelem" id="pu4678"><!-- group -->
        <div class="clearfix grpelem" id="u4678"><!-- group -->
         <div class="rounded-corners Paragraph---Light-accent clearfix grpelem" id="u4675-4"><!-- content -->
           <input id="u4675-2" style="text-align: center; height: 100%; width: 100%;" type="text" ng-model="timeSlot.startDate" name="" placeholder="4/16/16">
         </div>
         <div class="rounded-corners Paragraph---Light-accent clearfix grpelem" id="u4684-4"><!-- content -->
           <input id="u4684-2" style="text-align: center; height: 100%; width: 100%;" type="text" ng-model="timeSlot.startTime" name="" placeholder="12:00">
         </div>
         <div class="rounded-corners Paragraph---Light-accent clearfix grpelem" id="u4690-4"><!-- content -->
           <input id="u4690-2" style="text-align: center; height: 100%; width: 100%;" type="text" ng-model="timeSlot.startSuffix" name="" placeholder="PM">
         </div>
        </div>
        <div class="clearfix grpelem" id="u4708"><!-- group -->
         <div class="rounded-corners Paragraph---Light-accent clearfix grpelem" id="u4723-4"><!-- content -->
           <input id="u4723-2" style="text-align: center; height: 100%; width: 100%;" type="text" ng-model="timeSlot.endDate" name="" placeholder="4/17/16">
         </div>
         <div class="rounded-corners Paragraph---Light-accent clearfix grpelem" id="u4694-4"><!-- content -->
           <input id="u4694-2" style="text-align: center; height: 100%; width: 100%;" type="text" ng-model="timeSlot.endTime" name="" placeholder="1:00">
         </div>
         <div class="rounded-corners Paragraph---Light-accent clearfix grpelem" id="u4695-4"><!-- content -->
           <input id="u4695-2" style="text-align: center; height: 100%; width: 100%;" type="text" ng-model="timeSlot.endSuffix" name="" placeholder="PM">
         </div>
        </div>
        <div class="rounded-corners Paragraph---Light-accent clearfix grpelem" id="u4729-4"><!-- content -->
          <select id="u4729-2" style="text-align: center; width: 70px; min-height: 25px; text-align:center;" ng-model="timeSlot.repeat">
            <option value="" disabled selected>Repeat</option>
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
          </select>
        </div>
       </div>

          <button id="u4717-4" ng-show="!$last" class="rounded-corners Heading-3---Dark clearfix grpelem" ng-click="removeTimeSlot(timeSlot)">Remove</button>
          <button id="u4717-4" ng-show="$last" class="rounded-corners Heading-3---Dark clearfix grpelem" ng-click="addTimeSlot()">Add</button>

        </div>

        <!-- END CONTENT / OPTIONS -->

      </div>


     </div>
    </div>
    <div class="clearfix colelem" id="pu4732-4"><!-- group -->
     <a class="nonblock nontext clearfix grpelem" id="u4732-4" href="http://192.168.1.8:33333/Preview/sportodysite-0002/booking-(create---description).html"><!-- content --><h2 class="Heading-2---Dark" id="u4732-2">Back</h2></a>
     <a class="nonblock nontext Button rounded-corners clearfix grpelem" id="buttonu4616" href="http://192.168.1.8:33333/Preview/sportodysite-0002/booking-(create---description).html"><!-- container box --><div class="Heading-2---Dark clearfix grpelem" id="u4617-4"><!-- content --><h2>Next</h2></div></a>
    </div>
    <div class="verticalspacer" style="height: 251px;"></div>
    <div class="browser_width colelem" id="u587-bw" style="height: 249px;">
     <div class="clip_frame" id="u587"><!-- svg -->
      <img class="svg" id="u328" src="images/pasted-svg-1053105x249.svg" width="100%" height="249" alt="" data-mu-svgfallback="images/pasted%20svg%201053105x249_poster_.png">
     </div>
    </div>
   </div>
  </div>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.1.3.js"></script>
  <script src="/js/dependencies/GvGXUN-jvMJlza-zLU7p-IKmtXuWmNYITmzPo9zdOYtfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMgulKtl39.js"></script>
  <script src="/js/dependencies/HW-dLkXKiVdSb8CzlWvRssL_iix5HlMkGiS4E8SQrrSfeT6gfFWdN6IPw2b3F2JU5QiLZcwujQqujD9uwQqkjcwDwhjo5eIaFRZRw2i8weJ3F2iLSY48ic88iUGnwQqkORIh5ftUOR6CwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fF8EIMMjgkMfH6qJuYGbMg64JMJ7fbRSpyMMeMb6MqGIQWmDZZMgXVV1l39.js"></script>
  <script src="/js/dependencies/Q5I2LIBjMxbUdlOyb0bIqewFsfBX6yvx0xlto2ZKcljfeT6gfFWdN6IPw2b3F2JU5QiLZcwujQqujD9uwQqkjcwDwhjo5eIaFRZRw2i8weJ3F2iLSY48ic88iUGnwQqkORIh5ftUOR6CwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMgup7M0M9.js"></script>
  <script src="/js/dependencies/QlAmQzAhkctPrhd7gYr1nddnQLimxDJwvHVjnuoY8cMfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMg7V5al39.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/b-eNNT96YylTRYtYqWxdfz4CVdf6_0HCUctMgnEi47bfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMgcwftl39.js"></script>
  <script src="/js/dependencies/ctdhLtsA-RJdITcCOBCna0W_7-TlnVetOiMuRNO11r3feT6gfFWdN6IPw2b3F2JU5QiLZcwujQqujD9uwQqkjcwDwhjo5eIaFRZRw2i8weJ3F2iLSY48ic88iUGnwQqkORIh5ftUOR6CwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fF8EIMMjgkMfH6qJuYGbMg64JMJ7fbRSpyMMeMb6MqGIQWmDZZMg1vRGl39.js"></script>
  <script src="/js/dependencies/jquery-1.8.3.min.js"></script>
  <script src="/js/dependencies/jquery.musemenu.js"></script>
  <script src="/js/dependencies/jquery.watch.js"></script>
  <script src="/js/dependencies/museutils.js"></script>
  <script src="/js/dependencies/open-sans-condensed-n7-default.js"></script>
  <script src="/js/dependencies/rvhlmTRlsohQQsIWjgri1YWNMLxdGJUoZrDN71IvXVCfeG3gfFWdN6IPw2b3F2JU5QiLZ29owRqXwDMkFhjh5AJtjDJXwRmRFDw3FQ6U52g8wesLSY48ic88iUGLwQqkORIh5ftUORJCdeNRjAUGdaFXO2IkFkt3ORM0wPJIdeBXdkG4fFsEIMMjfPMfH6qJhWGbMg6YJMJ7fbRSpyMMeMb6MqGIQWmDZZMg0OEtl39.js"></script>
  <script src="/js/dependencies/whatinput.js"></script>
  <script src="/js/public/createlisting/ListingModule.js"></script>
  <script src="/js/public/createlisting/ListingController.js"></script>
  <script src="/js/public/listing_preview/PreviewController.js"></script>
  <script src="/js/public/listings/ViewListingsController.js"></script>
  <!--SCRIPTS END-->


</body></html>
