.version.booking__create___calendar__v2 /* version checker */
{
	color: #00000F;
	background-color: #21732D;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -310px;
	width: 0.01px;/* should not cover content below */
}

#pu4189
{
	width: 0.01px;
	padding-bottom: 130px;
	margin-left: -100px;
}

#u4189
{
	z-index: 129;
	min-height: 96px;
	position: fixed;
	top: 0px;
}

#u4190
{
	z-index: 130;
}

#u4189-bw
{
	z-index: 129;
}

#u4187
{
	z-index: 131;
	width: 167px;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -459px;
}

#u4188
{
	z-index: 132;
}

#u4184
{
	z-index: 133;
	width: 516px;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -242px;
}

#u4185
{
	z-index: 134;
}

#u4182
{
	z-index: 135;
	width: 105px;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 355px;
}

#u4183
{
	z-index: 136;
}

#u4191
{
	z-index: 137;
	width: 300px;
	height: 34px;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: 181px;
}

#u4508
{
	z-index: 138;
	min-height: 96px;
	background-color: #0B3C48;
	position: fixed;
	top: 0px;
}

#u4509
{
	z-index: 139;
	display: block;
}

#u4508-bw
{
	z-index: 138;
}

#u4502
{
	z-index: 140;
	width: 167px;
	background-color: transparent;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -475px;
}

#u4503
{
	z-index: 141;
	display: block;
}

#u4506
{
	z-index: 142;
	width: 516px;
	background-color: transparent;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -258px;
}

#u4507
{
	z-index: 143;
	display: block;
}

#u4504
{
	z-index: 144;
	width: 105px;
	background-color: transparent;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 339px;
}

#u4505
{
	z-index: 145;
	display: block;
}

#u4186
{
	z-index: 128;
	height: 34px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4186-bw
{
	z-index: 128;
	margin-top: -34px;
	margin-bottom: -34px;
	height: 34px;
}

#u4654
{
	z-index: 117;
	width: 381px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 290px;
	margin-top: 11px;
	position: relative;
}

#u4581-4
{
	z-index: 122;
	width: 329px;
	min-height: 18px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	margin-left: 26px;
	position: relative;
}

#u4614-4
{
	z-index: 118;
	width: 381px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	margin-top: 32px;
	position: relative;
}

#u4735
{
	z-index: 69;
	width: 603px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 178px;
	margin-top: 45px;
	position: relative;
}

#u4663
{
	z-index: 70;
	width: 74px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u4585-4
{
	z-index: 77;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	position: relative;
}

#pu4603
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 4px;
}

#u4603
{
	z-index: 71;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4600-4
{
	z-index: 73;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u4610
{
	z-index: 81;
	width: 127px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 417px;
}

#u4660
{
	z-index: 82;
	width: 74px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u4596-4
{
	z-index: 89;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	position: relative;
}

#pu4601
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 4px;
}

#u4601
{
	z-index: 83;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4615-4
{
	z-index: 85;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u4586
{
	z-index: 93;
	width: 142px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 238px;
}

#u4657
{
	z-index: 94;
	width: 108px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u4609-4
{
	z-index: 101;
	width: 108px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	position: relative;
}

#pu4618
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 4px;
}

#u4618
{
	z-index: 95;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4582-4
{
	z-index: 97;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 7px;
}

#u4597
{
	z-index: 105;
	width: 137px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 52px;
}

#u4651
{
	z-index: 106;
	width: 79px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u4580-4
{
	z-index: 113;
	width: 79px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
}

#pu4583
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 4px;
}

#u4583
{
	z-index: 107;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4593-4
{
	z-index: 109;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 5px;
}

#u4595-4
{
	z-index: 65;
	width: 418px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 186px;
	margin-top: 21px;
	position: relative;
}

#pu4639
{
	width: 0.01px;
	margin-left: 187px;
	margin-top: 12px;
}

#u4639
{
	z-index: 64;
	width: 19px;
	height: 19px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4642-4
{
	z-index: 60;
	width: 232px;
	min-height: 20px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
  margin-top: 3px;
	left: 18px;
}

#u4714
{
	z-index: 11;
	width: 586px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 186px;
	margin-top: 19px;
	position: relative;
}

#u4645
{
	z-index: 12;
	width: 586px;
	background-color: #F4F4F4;
	border-radius: 3px;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#pu4726
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 22px;
}

#u4726
{
	z-index: 47;
	width: 376px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 62px;
	position: relative;
}

#u4666-4
{
	z-index: 56;
	width: 37px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u4669-4
{
	z-index: 52;
	width: 30px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 195px;
}

#u4705-4
{
	z-index: 48;
	width: 50px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 326px;
}

#pu4678
{
	width: 0.01px;
	margin-top: 6px;
}

#u4678
{
	z-index: 21;
	width: 166px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4675-4
{
	z-index: 22;
	width: 64px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 2px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u4684-4
{
	z-index: 30;
	width: 43px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 2px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u4690-4
{
	z-index: 26;
	width: 33px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 2px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 131px;
}

#u4708
{
	z-index: 34;
	width: 169px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 188px;
}

#u4723-4
{
	z-index: 43;
	width: 64px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 2px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u4694-4
{
	z-index: 39;
	width: 43px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 2px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u4695-4
{
	z-index: 35;
	width: 33px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 2px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 134px;
}

#u4729-4
{
	z-index: 17;
	width: 64px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 382px;
}

#u4675-2,#u4684-2,#u4690-2,#u4723-2,#u4694-2,#u4695-2,#u4729-2
{
	padding-top: 5px;
}

#u4717-4
{
	z-index: 13;
	width: 71px;
	min-height: 25px;
	background-color: #E74F1B;
	border-radius: 3px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
  margin-left: -25px;
	left: 495px;
}

#u4717-2
{
	padding-top: 4px;
}

#pu4732-4
{
	width: 0.01px;
	margin-left: 187px;
	margin-top: 51px;
}

#u4732-4
{
	z-index: 7;
	width: 94px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u4732-2
{
	color: #E74F1B;
}

#buttonu4616
{
	z-index: 2;
	width: 191px;
	border-color: #787878;
	background-color: #E74F1B;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 395px;
}

#buttonu4616:hover
{
	background-color: #545454;
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4617-4
{
	z-index: 3;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 36px;
}

#buttonu4616:hover #u4617-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4616.ButtonSelected #u4617-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4616:hover #u4617-4 p,#buttonu4616:hover #u4617-4 h2
{
	color: #FFFFFF;
	visibility: inherit;
}

#u587
{
	z-index: 126;
	min-height: 249px;
}

#u328
{
	z-index: 127;
}

#u587-bw
{
	z-index: 126;
	min-height: 249px;
	margin-top: 61px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

