.version.bookings /* version checker */
{
	color: #0000EB;
	background-color: #055962;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.8169847844151px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -310px;
	width: 0.01px;/* should not cover content below */
}

#pu575
{
	width: 0.01px;
	padding-bottom: 130px;
	margin-left: -100px;
}

#u575
{
	z-index: 26;
	min-height: 96px;
	position: fixed;
	top: 0px;
}

#u99
{
	z-index: 27;
}

#u575-bw
{
	z-index: 26;
}

#u578
{
	z-index: 28;
	width: 167px;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -459px;
}

#u104
{
	z-index: 29;
}

#menuu109
{
	z-index: 30;
	width: 659px;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: -479px;
}

#u117
{
	width: 163px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u118
{
	width: 163px;
	padding-bottom: 17px;
	position: relative;
}

#u118:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u118:active
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u121-4
{
	width: 163px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u118:hover #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u118:active #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u110
{
	width: 163px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u113
{
	width: 163px;
	padding-bottom: 17px;
	position: relative;
}

#u118.MuseMenuActive,#u113:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u113:active
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u114-4
{
	width: 163px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u118.MuseMenuActive #u121-4,#u113:hover #u114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u113:active #u114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u125
{
	width: 163px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u128
{
	width: 163px;
	padding-bottom: 17px;
	position: relative;
}

#u113.MuseMenuActive,#u128:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u128:active
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u128.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u131-4
{
	width: 163px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u113.MuseMenuActive #u114-4,#u128:hover #u131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u128:active #u131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u128.MuseMenuActive #u131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 164px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u135
{
	width: 164px;
	padding-bottom: 17px;
	position: relative;
}

#u135:hover
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u135:active
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u135.MuseMenuActive
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u138-4
{
	width: 164px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u135:hover #u138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 164px;
	margin: 0px -10000px 0px 0px;
}

#u135:active #u138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 164px;
	margin: 0px -10000px 0px 0px;
}

#u135.MuseMenuActive #u138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 164px;
	margin: 0px -10000px 0px 0px;
}

#u581
{
	z-index: 55;
	width: 516px;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -242px;
}

#u154
{
	z-index: 56;
}

#u584
{
	z-index: 57;
	width: 105px;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 355px;
}

#u164
{
	z-index: 58;
}

#u175
{
	z-index: 59;
	width: 300px;
	height: 34px;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: 181px;
}

#u1437
{
	z-index: 25;
	height: 34px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1437-bw
{
	z-index: 25;
	margin-top: -34px;
	margin-bottom: -34px;
	height: 34px;
}

#pu1813-4
{
	width: 0.01px;
	margin-top: 27px;
}

#u1813-4
{
	z-index: 2;
	width: 188px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u4283-4
{
	z-index: 10;
	width: 376px;
	min-height: 18px;
	background-color: transparent;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u1816-4
{
	z-index: 6;
	width: 188px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	left: -1px;
	position: relative;
}

#u4288-4
{
	z-index: 14;
	width: 544px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	margin-left: 208px;
	position: relative;
}

#buttonu4322
{
	z-index: 18;
	width: 167px;
	border-color: #787878;
	background-color: #E74F1B;
	border-radius: 10px;
	padding-bottom: 13px;
	left: -1px;
	position: relative;
}

#buttonu4322:hover
{
	background-color: #545454;
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u4323-4
{
	z-index: 19;
	width: 167px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu4322:hover #u4323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 167px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4322.ButtonSelected #u4323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 167px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4322:hover #u4323-4 p,#buttonu4322:hover #u4323-4 h3
{
	color: #FFFFFF;
	visibility: inherit;
}

#u587
{
	z-index: 23;
	min-height: 249px;
}

#u328
{
	z-index: 24;
}

#u587-bw
{
	z-index: 23;
	min-height: 249px;
	margin-top: 328px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

