.version.booking__create___preview_ /* version checker */
{
	color: #0000FB;
	background-color: #840DB8;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.8669847844153px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -310px;
	width: 0.01px;/* should not cover content below */
}

#pu4189
{
	width: 0.01px;
	padding-bottom: 130px;
	margin-left: -100px;
}

#u4189
{
	z-index: 179;
	min-height: 96px;
	position: fixed;
	top: 0px;
}

#u4190
{
	z-index: 180;
}

#u4189-bw
{
	z-index: 179;
}

#u4187
{
	z-index: 181;
	width: 167px;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -459px;
}

#u4188
{
	z-index: 182;
}

#u4184
{
	z-index: 183;
	width: 516px;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -242px;
}

#u4185
{
	z-index: 184;
}

#u4182
{
	z-index: 185;
	width: 105px;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 355px;
}

#u4183
{
	z-index: 186;
}

#u4191
{
	z-index: 187;
	width: 300px;
	height: 34px;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: 181px;
}

#u2794
{
	z-index: 188;
	min-height: 96px;
	background-color: #0B3C48;
	position: fixed;
	top: 0px;
}

#u2795
{
	z-index: 189;
	display: block;
}

#u2794-bw
{
	z-index: 188;
}

#u2789
{
	z-index: 190;
	width: 167px;
	background-color: transparent;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -475px;
}

#u2790
{
	z-index: 191;
	display: block;
}

#u2801
{
	z-index: 192;
	width: 516px;
	background-color: transparent;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -258px;
}

#u2802
{
	z-index: 193;
	display: block;
}

#u2776
{
	z-index: 194;
	width: 105px;
	background-color: transparent;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 339px;
}

#u2777
{
	z-index: 195;
	display: block;
}

#u4186
{
	z-index: 178;
	height: 34px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4186-bw
{
	z-index: 178;
	margin-top: -34px;
	margin-bottom: -34px;
	height: 34px;
}

#u2819-4
{
	z-index: 2;
	width: 329px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 26px;
	margin-left: 315px;
	margin-top: 11px;
	position: relative;
}

#u2778-4
{
	z-index: 45;
	width: 381px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 290px;
	margin-top: 32px;
	position: relative;
}

#pu2782-4
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 44px;
}

#u2782-4
{
	z-index: 49;
	width: 83px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2791-4
{
	z-index: 58;
	width: 108px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u2800-4
{
	z-index: 62;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u2784-4
{
	z-index: 66;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#pu2805
{
	width: 0.01px;
	margin-left: 186px;
	margin-top: 4px;
}

#u2805
{
	z-index: 6;
	width: 137px;
	height: 8px;
	background-color: #E74F1B;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 43px;
}

#u2813
{
	z-index: 7;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2804-4
{
	z-index: 9;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 7px;
}

#u2808
{
	z-index: 13;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u2807
{
	z-index: 15;
	width: 142px;
	height: 8px;
	background-color: #E74F1B;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 229px;
}

#u2810
{
	z-index: 16;
	width: 127px;
	height: 8px;
	background-color: #E74F1B;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 408px;
}

#u2815
{
	z-index: 17;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u2811
{
	z-index: 19;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u2818-4
{
	z-index: 21;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 180px;
}

#u2806-4
{
	z-index: 25;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 368px;
}

#u2817-4
{
	z-index: 29;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 537px;
}

#u2799-4
{
	z-index: 53;
	width: 586px;
	min-height: 23px;
	background-color: transparent;
	line-height: 26px;
	margin-left: 186px;
	margin-top: 21px;
	position: relative;
}

#pu2860-4
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 26px;
}

#u2860-4
{
	z-index: 33;
	width: 188px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u2866-4
{
	z-index: 117;
	width: 181px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 296px;
}

#pu2837
{
	width: 0.01px;
	margin-left: 187px;
	margin-top: 5px;
}

#u2837
{
	z-index: 103;
	width: 175px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: transparent;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 18px 7px 15px;
}

#pu2838
{
	width: 0.01px;
	margin-left: 36px;
}

#u2838
{
	z-index: 104;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2842
{
	z-index: 114;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 79px;
}

#u2840-4
{
	z-index: 106;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-top: 7px;
	position: relative;
}

#u2841-4
{
	z-index: 110;
	width: 157px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
	margin-left: 8px;
	margin-top: 7px;
	position: relative;
}

#u2863
{
	z-index: 116;
	width: 339px;
	height: 201px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: transparent;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u2869-4
{
	z-index: 37;
	width: 188px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	margin-left: 188px;
	margin-top: 28px;
	position: relative;
}

#u2872-4
{
	z-index: 121;
	width: 586px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 188px;
	margin-top: 11px;
	position: relative;
}

#u2875-4
{
	z-index: 125;
	width: 586px;
	min-height: 23px;
	background-color: transparent;
	line-height: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 188px;
	margin-top: 7px;
	position: relative;
}

#pu2884
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 28px;
}

#u2884
{
	z-index: 129;
	width: 238px;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
}

#u2884 .clip_frame
{
	-webkit-border-radius: 3px 3px 3px 3px;
}

#u2894
{
	z-index: 131;
	width: 282px;
	background-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u2894 .clip_frame
{
	-webkit-border-radius: 4px 4px 4px 4px;
}

#u2904-4
{
	z-index: 41;
	width: 271px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	margin-left: 188px;
	margin-top: 33px;
	position: relative;
}

#u2787
{
	z-index: 57;
	width: 585px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #F4F4F4;
	border-radius: 3px;
	padding-bottom: 66px;
	margin-left: 186px;
	margin-top: 23px;
	position: relative;
}

#pu2788-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 20px;
}

#u2788-4
{
	z-index: 86;
	width: 41px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 17px;
	position: relative;
}

#u2793-4
{
	z-index: 78;
	width: 73px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u2908-4
{
	z-index: 137;
	width: 73px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-top: 17px;
	position: relative;
}

#u2923-4
{
	z-index: 150;
	width: 73px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-top: 17px;
	position: relative;
}

#pu2797-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 114px;
}

#u2797-4
{
	z-index: 90;
	width: 80px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 8px;
	position: relative;
}

#u2798-4
{
	z-index: 74;
	width: 93px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u2907-4
{
	z-index: 133;
	width: 93px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-top: 17px;
	position: relative;
}

#u2922-4
{
	z-index: 146;
	width: 93px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-top: 17px;
	position: relative;
}

#pu2781-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 227px;
}

#u2781-4
{
	z-index: 94;
	width: 117px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 26px;
	position: relative;
}

#u2796-4
{
	z-index: 82;
	width: 167px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u2909-4
{
	z-index: 141;
	width: 167px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-top: 17px;
	position: relative;
}

#u2924-4
{
	z-index: 154;
	width: 167px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-top: 17px;
	position: relative;
}

#u2793-2,#u2908-2,#u2923-2,#u2798-2,#u2907-2,#u2922-2,#u2796-2,#u2909-2,#u2924-2
{
	padding-top: 4px;
}

#pu2779-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 411px;
}

#u2779-4
{
	z-index: 98;
	width: 67px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
}

#u2775
{
	z-index: 102;
	width: 25px;
	height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	margin-left: 21px;
	margin-top: 11px;
	position: relative;
}

#u2910
{
	z-index: 145;
	width: 25px;
	height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #E74F1B;
	border-radius: 3px;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#u2925
{
	z-index: 158;
	width: 25px;
	height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#pu2940-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 493px;
}

#u2940-4
{
	z-index: 167;
	width: 71px;
	min-height: 25px;
	background-color: #0B3C48;
	border-radius: 3px;
	color: #FFFFFF;
	text-align: center;
	line-height: 17px;
	position: relative;
}

#u2937-4
{
	z-index: 163;
	width: 71px;
	min-height: 25px;
	background-color: #0B3C48;
	border-radius: 3px;
	color: #FFFFFF;
	text-align: center;
	line-height: 17px;
	margin-top: 20px;
	position: relative;
}

#u2926-4
{
	z-index: 159;
	width: 71px;
	min-height: 25px;
	background-color: #E74F1B;
	border-radius: 3px;
	color: #FFFFFF;
	text-align: center;
	line-height: 17px;
	margin-top: 19px;
	position: relative;
}

#u2940-2,#u2937-2,#u2926-2
{
	padding-top: 3px;
}

#pu2792-4
{
	width: 0.01px;
	margin-left: 190px;
	margin-top: 34px;
}

#u2792-4
{
	z-index: 70;
	width: 94px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u2792-2
{
	color: #E74F1B;
}

#buttonu4316
{
	z-index: 171;
	width: 191px;
	border-color: #787878;
	background-color: #E74F1B;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#buttonu4316:hover
{
	background-color: #545454;
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4317-4
{
	z-index: 172;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 36px;
}

#buttonu4316:hover #u4317-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4316.ButtonSelected #u4317-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4316:hover #u4317-4 p,#buttonu4316:hover #u4317-4 h2
{
	color: #FFFFFF;
	visibility: inherit;
}

#u587
{
	z-index: 176;
	min-height: 249px;
}

#u328
{
	z-index: 177;
}

#u587-bw
{
	z-index: 176;
	min-height: 249px;
	margin-top: 61px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

