.version.booking__create___calendar_ /* version checker */
{
	color: #000008;
	background-color: #8C03E8;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -310px;
	width: 0.01px;/* should not cover content below */
}

#pu4189
{
	width: 0.01px;
	padding-bottom: 130px;
	margin-left: -100px;
}

#u4189
{
	z-index: 100;
	min-height: 96px;
	position: fixed;
	top: 0px;
}

#u4190
{
	z-index: 101;
}

#u4189-bw
{
	z-index: 100;
}

#u4187
{
	z-index: 102;
	width: 167px;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -459px;
}

#u4188
{
	z-index: 103;
}

#u4184
{
	z-index: 104;
	width: 516px;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -242px;
}

#u4185
{
	z-index: 105;
}

#u4182
{
	z-index: 106;
	width: 105px;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 355px;
}

#u4183
{
	z-index: 107;
}

#u4191
{
	z-index: 108;
	width: 300px;
	height: 34px;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: 181px;
}

#u1901
{
	z-index: 109;
	min-height: 96px;
	background-color: #0B3C48;
	position: fixed;
	top: 0px;
}

#u1902
{
	z-index: 110;
	display: block;
}

#u1901-bw
{
	z-index: 109;
}

#u1903
{
	z-index: 111;
	width: 167px;
	background-color: transparent;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -475px;
}

#u1904
{
	z-index: 112;
	display: block;
}

#u1905
{
	z-index: 113;
	width: 516px;
	background-color: transparent;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -258px;
}

#u1906
{
	z-index: 114;
	display: block;
}

#u1907
{
	z-index: 115;
	width: 105px;
	background-color: transparent;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 339px;
}

#u1908
{
	z-index: 116;
	display: block;
}

#u4186
{
	z-index: 99;
	height: 34px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4186-bw
{
	z-index: 99;
	margin-top: -34px;
	margin-bottom: -34px;
	height: 34px;
}

#u1940-4
{
	z-index: 2;
	width: 329px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 26px;
	margin-left: 315px;
	margin-top: 11px;
	position: relative;
}

#u1943-4
{
	z-index: 33;
	width: 381px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	margin-left: 290px;
	margin-top: 32px;
	position: relative;
}

#pu2012-4
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 45px;
}

#u2012-4
{
	z-index: 37;
	width: 79px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u2505-4
{
	z-index: 80;
	width: 108px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u2506-4
{
	z-index: 84;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u2507-4
{
	z-index: 88;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#pu1949
{
	width: 0.01px;
	margin-left: 186px;
	margin-top: 4px;
}

#u1949
{
	z-index: 6;
	width: 137px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 43px;
}

#u1950
{
	z-index: 7;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1952-4
{
	z-index: 9;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 5px;
}

#u1955
{
	z-index: 13;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u1959
{
	z-index: 15;
	width: 142px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 229px;
}

#u1961
{
	z-index: 16;
	width: 127px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 408px;
}

#u1992
{
	z-index: 17;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u1999
{
	z-index: 19;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u2404-4
{
	z-index: 21;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 180px;
}

#u2407-4
{
	z-index: 25;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 368px;
}

#u2410-4
{
	z-index: 29;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 537px;
}

#u2015-4
{
	z-index: 41;
	width: 418px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 186px;
	margin-top: 21px;
	position: relative;
}

#pu2037
{
	width: 0.01px;
	margin-left: 186px;
	margin-top: 22px;
}

#u2037
{
	z-index: 45;
	width: 175px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: transparent;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 18px 7px 15px;
}

#pu2027
{
	width: 0.01px;
	margin-left: 36px;
}

#u2027
{
	z-index: 46;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2110
{
	z-index: 78;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 79px;
}

#u2040-4
{
	z-index: 48;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-top: 7px;
	position: relative;
}

#u2043-4
{
	z-index: 52;
	width: 157px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	margin-left: 8px;
	margin-top: 7px;
	position: relative;
}

#u2094
{
	z-index: 67;
	width: 175px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #F4F4F4;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 198px;
	padding: 18px 7px 15px;
}

#u2095
{
	z-index: 68;
	width: 102px;
	background-color: transparent;
	margin-left: 36px;
	position: relative;
}

#u2097-4
{
	z-index: 70;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-top: 18px;
	position: relative;
}

#u2098-4
{
	z-index: 74;
	width: 157px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
	margin-left: 8px;
	margin-top: 7px;
	position: relative;
}

#u2078
{
	z-index: 56;
	width: 175px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #F4F4F4;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 396px;
	padding: 18px 7px 15px;
}

#u2079
{
	z-index: 57;
	width: 102px;
	background-color: transparent;
	margin-left: 36px;
	position: relative;
}

#u2081-4
{
	z-index: 59;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-top: 18px;
	position: relative;
}

#u2082-4
{
	z-index: 63;
	width: 157px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
	margin-left: 8px;
	margin-top: 7px;
	position: relative;
}

#buttonu4261
{
	z-index: 92;
	width: 191px;
	border-color: #787878;
	background-color: #E74F1B;
	border-radius: 10px;
	padding-bottom: 13px;
	margin-left: 582px;
	margin-top: 30px;
	position: relative;
}

#buttonu4261:hover
{
	background-color: #545454;
	width: 191px;
	min-height: 0px;
	margin: 30px 0px 0px 582px;
}

#buttonu4261.ButtonSelected
{
	background-color: #E74F1B;
	width: 191px;
	min-height: 0px;
	margin: 30px 0px 0px 582px;
}

#u4262-4
{
	z-index: 93;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 36px;
}

#buttonu4261:hover #u4262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4261.ButtonSelected #u4262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4261:hover #u4262-4 p,#buttonu4261:hover #u4262-4 h2
{
	color: #FFFFFF;
	visibility: inherit;
}

#u587
{
	z-index: 97;
	min-height: 249px;
}

#u328
{
	z-index: 98;
}

#u587-bw
{
	z-index: 97;
	min-height: 249px;
	margin-top: 61px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

