.version.booking__create___description_ /* version checker */
{
	color: #0000FA;
	background-color: #28C2C9;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.966984784415px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -310px;
	width: 0.01px;/* should not cover content below */
}

#pu4189
{
	width: 0.01px;
	padding-bottom: 130px;
	margin-left: -100px;
}

#u4189
{
	z-index: 114;
	min-height: 96px;
	position: fixed;
	top: 0px;
}

#u4190
{
	z-index: 115;
}

#u4189-bw
{
	z-index: 114;
}

#u4187
{
	z-index: 116;
	width: 167px;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -459px;
}

#u4188
{
	z-index: 117;
}

#u4184
{
	z-index: 118;
	width: 516px;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -242px;
}

#u4185
{
	z-index: 119;
}

#u4182
{
	z-index: 120;
	width: 105px;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 355px;
}

#u4183
{
	z-index: 121;
}

#u4191
{
	z-index: 122;
	width: 300px;
	height: 34px;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: 181px;
}

#u2226
{
	z-index: 123;
	min-height: 96px;
	background-color: #0B3C48;
	position: fixed;
	top: 0px;
}

#u2227
{
	z-index: 124;
	display: block;
}

#u2226-bw
{
	z-index: 123;
}

#u2210
{
	z-index: 125;
	width: 167px;
	background-color: transparent;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -475px;
}

#u2211
{
	z-index: 126;
	display: block;
}

#u2201
{
	z-index: 127;
	width: 516px;
	background-color: transparent;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -258px;
}

#u2202
{
	z-index: 128;
	display: block;
}

#u2218
{
	z-index: 129;
	width: 105px;
	background-color: transparent;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 339px;
}

#u2219
{
	z-index: 130;
	display: block;
}

#u4186
{
	z-index: 113;
	height: 34px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4186-bw
{
	z-index: 113;
	margin-top: -34px;
	margin-bottom: -34px;
	height: 34px;
}

#u2233-4
{
	z-index: 2;
	width: 329px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 26px;
	margin-left: 315px;
	margin-top: 11px;
	position: relative;
}

#u2215-4
{
	z-index: 33;
	width: 381px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 290px;
	margin-top: 32px;
	position: relative;
}

#pu2204-4
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 44px;
}

#u2204-4
{
	z-index: 37;
	width: 83px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2331-4
{
	z-index: 46;
	width: 108px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u2334-4
{
	z-index: 50;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u2337-4
{
	z-index: 54;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#ppu2232
{
	width: 0.01px;
	margin-left: 186px;
	margin-top: 4px;
}

#pu2232
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 361px;
}

#u2232
{
	z-index: 8;
	width: 127px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 47px;
}

#u2240
{
	z-index: 17;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2234
{
	z-index: 19;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u2325-4
{
	z-index: 25;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u2328-4
{
	z-index: 29;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 176px;
}

#u2242
{
	z-index: 6;
	width: 137px;
	height: 8px;
	background-color: #E74F1B;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 43px;
}

#u2239
{
	z-index: 7;
	width: 142px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 219px;
}

#u2236
{
	z-index: 9;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2238-4
{
	z-index: 11;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 7px;
}

#u2243
{
	z-index: 15;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u2322-4
{
	z-index: 21;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 180px;
}

#u2207-4
{
	z-index: 41;
	width: 579px;
	min-height: 23px;
	background-color: transparent;
	line-height: 26px;
	margin-left: 186px;
	margin-top: 21px;
	position: relative;
}

#pu2213
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 19px;
}

#u2213
{
	z-index: 45;
	width: 175px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #F4F4F4;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 41px 8px 30px 4px;
  cursor:not-allowed;
}

#u2223-4
{
	z-index: 60;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	line-height: 22px;
	position: relative;
}

#u2426
{
	z-index: 58;
	width: 62px;
	background-color: transparent;
	margin-left: 60px;
	margin-top: 31px;
	position: relative;
}

#u2446
{
	z-index: 64;
	width: 175px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #F4F4F4;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 198px;
	padding: 41px 8px 30px 4px;
  cursor: not-allowed;
}

#u2449-4
{
	z-index: 67;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	line-height: 22px;
	position: relative;
}

#u2447
{
	z-index: 65;
	width: 62px;
	background-color: transparent;
	margin-left: 60px;
	margin-top: 31px;
	position: relative;
}

#u2459
{
	z-index: 71;
	width: 175px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #F4F4F4;
	border-radius: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 396px;
	padding: 41px 8px 30px 4px;
  cursor: not-allowed;
}

#u2462-4
{
	z-index: 74;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	line-height: 22px;
	position: relative;
}

#u2460
{
	z-index: 72;
	width: 62px;
	background-color: transparent;
	margin-left: 60px;
	margin-top: 31px;
	position: relative;
}

#pu2472-4
{
	width: 0.01px;
	margin-left: 186px;
	margin-top: 24px;
}

#u2472-4
{
	z-index: 78;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u2484-4
{
	z-index: 86;
	width: 175px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 412px;
}

#u2481-4
{
	z-index: 82;
	width: 585px;
	min-height: 37px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: transparent;
	border-radius: 3px;
	text-indent: 6px;
	line-height: 14px;
	margin-left: 187px;
	position: relative;
}

#pu2487-4
{
	width: 0.01px;
	margin-left: 186px;
	margin-top: 34px;
}

#u2487-4
{
	z-index: 90;
	width: 175px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u2489-4
{
	z-index: 98;
	width: 175px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 411px;
}

#u2488-4
{
	z-index: 94;
	width: 585px;
	min-height: 37px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: transparent;
	border-radius: 3px;
	text-indent: 6px;
	line-height: 14px;
	margin-left: 187px;
	position: relative;
}

#u2481-2,#u2488-2
{
	padding-top: 6px;
}

input, select, textarea {
  color: #000000;
}

#pu2502-4
{
	width: 0.01px;
	margin-left: 189px;
	margin-top: 37px;
}

#u2502-4
{
	z-index: 102;
	width: 94px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2502-2
{
	color: #E74F1B;
}

#buttonu4301
{
	z-index: 106;
	width: 191px;
	border-color: #787878;
	background-color: #E74F1B;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 392px;
}

#buttonu4301:hover
{
	background-color: #545454;
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4302-4
{
	z-index: 107;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 36px;
}

#buttonu4301:hover #u4302-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4301.ButtonSelected #u4302-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4301:hover #u4302-4 p,#buttonu4301:hover #u4302-4 h2
{
	color: #FFFFFF;
	visibility: inherit;
}

#u587
{
	z-index: 111;
	min-height: 249px;
}

#u328
{
	z-index: 112;
}

#u587-bw
{
	z-index: 111;
	min-height: 249px;
	margin-top: 61px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

