.version.booking__create___extras_ /* version checker */
{
	color: #0000EC;
	background-color: #917DE6;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.66698478441526px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -310px;
	width: 0.01px;/* should not cover content below */
}

#pu4189
{
	width: 0.01px;
	padding-bottom: 130px;
	margin-left: -100px;
}

#u4189
{
	z-index: 41;
	min-height: 96px;
	position: fixed;
	top: 0px;
}

#u4190
{
	z-index: 42;
}

#u4189-bw
{
	z-index: 41;
}

#u4187
{
	z-index: 43;
	width: 167px;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -459px;
}

#u4188
{
	z-index: 44;
}

#u4184
{
	z-index: 45;
	width: 516px;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -242px;
}

#u4185
{
	z-index: 46;
}

#u4182
{
	z-index: 47;
	width: 105px;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 355px;
}

#u4183
{
	z-index: 48;
}

#u4191
{
	z-index: 49;
	width: 300px;
	height: 34px;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: 181px;
}

#u2568
{
	z-index: 50;
	min-height: 96px;
	background-color: #0B3C48;
	position: fixed;
	top: 0px;
}

#u2569
{
	z-index: 51;
	display: block;
}

#u2568-bw
{
	z-index: 50;
}

#u2546
{
	z-index: 52;
	width: 167px;
	background-color: transparent;
	position: fixed;
	top: 46px;
	left: 50%;
	margin-left: -475px;
}

#u2547
{
	z-index: 53;
	display: block;
}

#u2551
{
	z-index: 54;
	width: 516px;
	background-color: transparent;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -258px;
}

#u2552
{
	z-index: 55;
	display: block;
}

#u2539
{
	z-index: 56;
	width: 105px;
	background-color: transparent;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 339px;
}

#u2540
{
	z-index: 57;
	display: block;
}

#u4186
{
	z-index: 40;
	height: 34px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4186-bw
{
	z-index: 40;
	margin-top: -34px;
	margin-bottom: -34px;
	height: 34px;
}

#u2529-4
{
	z-index: 2;
	width: 329px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 26px;
	margin-left: 315px;
	margin-top: 11px;
	position: relative;
}

#u2544-4
{
	z-index: 58;
	width: 381px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 290px;
	margin-top: 32px;
	position: relative;
}

#pu2536-4
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 44px;
}

#u2536-4
{
	z-index: 62;
	width: 83px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2535-4
{
	z-index: 71;
	width: 108px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u2542-4
{
	z-index: 75;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u2564-4
{
	z-index: 79;
	width: 74px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#pu2520
{
	width: 0.01px;
	margin-left: 186px;
	margin-top: 4px;
}

#u2520
{
	z-index: 6;
	width: 137px;
	height: 8px;
	background-color: #E74F1B;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 43px;
}

#u2531
{
	z-index: 7;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2525-4
{
	z-index: 9;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 7px;
}

#u2521
{
	z-index: 13;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u2530
{
	z-index: 15;
	width: 142px;
	height: 8px;
	background-color: #E74F1B;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 229px;
}

#u2528
{
	z-index: 16;
	width: 127px;
	height: 8px;
	background-color: #B3B3B3;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 408px;
}

#u2526
{
	z-index: 17;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u2523
{
	z-index: 19;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u2533-4
{
	z-index: 21;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 180px;
}

#u2518-4
{
	z-index: 25;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 368px;
}

#u2519-4
{
	z-index: 29;
	width: 43px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 537px;
}

#u2541-4
{
	z-index: 66;
	width: 586px;
	min-height: 23px;
	background-color: transparent;
	line-height: 26px;
	margin-left: 186px;
	margin-top: 21px;
	position: relative;
}

#u2562-4
{
	z-index: 83;
	width: 579px;
	min-height: 24px;
	background-color: transparent;
	line-height: 17px;
	margin-left: 186px;
	margin-top: 9px;
	position: relative;
}

#u2553
{
	z-index: 70;
	width: 585px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #F4F4F4;
	border-radius: 3px;
	padding-bottom: 15px;
	margin-left: 186px;
	margin-top: 16px;
	position: relative;
}

#pu2675-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 21px;
}

#u2675-4
{
	z-index: 103;
	width: 41px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 16px;
	position: relative;
}

#u2669-4
{
	z-index: 95;
	width: 73px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 6px;
	line-height: 14px;
	margin-top: 11px;
	position: relative;
}

#pu2678-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 115px;
}

#u2678-4
{
	z-index: 107;
	width: 80px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 7px;
	position: relative;
}

#u2666-4
{
	z-index: 91;
	width: 93px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-top: 11px;
	position: relative;
}

#pu2681-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 228px;
}

#u2681-4
{
	z-index: 111;
	width: 117px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	margin-left: 25px;
	position: relative;
}

#u2672-4
{
	z-index: 99;
	width: 167px;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	text-indent: 4px;
	line-height: 14px;
	margin-top: 11px;
	position: relative;
}

#pu2684-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 411px;
}

#u2684-4
{
	z-index: 115;
	width: 67px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	line-height: 17px;
	position: relative;
}

#u2693
{
	z-index: 119;
	width: 25px;
	height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	background-color: #FFFFFF;
	border-radius: 3px;
	margin-left: 21px;
	margin-top: 11px;
	position: relative;
}

#u2696-4
{
	z-index: 120;
	width: 71px;
	min-height: 25px;
	background-color: #E74F1B;
	border-radius: 3px;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 494px;
}

#u2669-2,#u2666-2,#u2672-2,#u2696-2
{
	padding-top: 4px;
}

#pu2554-4
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 47px;
}

#u2554-4
{
	z-index: 87;
	width: 94px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u2554-2
{
	color: #E74F1B;
}

#buttonu4307
{
	z-index: 33;
	width: 191px;
	border-color: #787878;
	background-color: #E74F1B;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 396px;
}

#buttonu4307:hover
{
	background-color: #545454;
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4308-4
{
	z-index: 34;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 36px;
}

#buttonu4307:hover #u4308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4307.ButtonSelected #u4308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4307:hover #u4308-4 p,#buttonu4307:hover #u4308-4 h2
{
	color: #FFFFFF;
	visibility: inherit;
}

#u587
{
	z-index: 38;
	min-height: 249px;
}

#u328
{
	z-index: 39;
}

#u587-bw
{
	z-index: 38;
	min-height: 249px;
	margin-top: 61px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

